.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#full-screen-app {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;  
}


h4.team{ 
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  color: white;
  line-height: 100%;
}

h5.owner{ 
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

.vcenter {
  top: 50%;
  transform: translateY(-50%);
}

.bg-main{
 background: url(../images/bgimage1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.teamSection { 
    height: 100vh;
    overflow: hidden;
    padding-top: 25vh;
    padding-right: 70px;
    padding-left: 70px;
 }

.teamLogo{
  width: 40%;
}
/*BlAZERS STYLES*/
.warriors.sub { 
  color: #ffb924;
 }
.warriors.background { 
  background-color: rgba(0, 0, 0, 0.5);
}

/*BlAZERS STYLES*/
.blazers.sub { 
  color: #e13a3e;
 }
.blazers.background { 
  background-color: rgba(0, 0, 0, 0.5);
}

/*Clippers STYLES*/
.clippers.sub { 
  color: #0058a9;
 }
.clippers.background { 
  background-color: grey;
}

/*Hornets STYLES*/
.hornets.sub { 
  color: #00758D;
 }
.hornets.background { 
  background-color: black;
}

/*heat STYLES*/
.heat.sub { 
  color: #f59814;
 }
.heat.background { 
  background-color: grey;
}

/*bucks STYLES*/
.bucks.sub { 
  color: #dfcaa2;
 }
.bucks.background { 
  background-color: #2b5235;
}

/*Nicks STYLES*/
.nicks.sub { 
  color: #FF671B;
 }
.nicks.background { 
  background-color: grey;
}

/*grizzlies STYLES*/
.grizzlies.sub { 
  color: #FF671B;
 }
.grizzlies.background { 
  background-color: grey;
}

.full-screen{
  width: 100vw;
  height: 100vh
}

.no-game{
}

.vs{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50vh;
  background-color: black;
  z-index: 99;
}

.font {font-family: 'Oswald', sans-serif}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;

}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
