<div class="vs"><h4>VS</h4></div>

<div id='slide-wrapper' class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slide-wrapper" data-slide-to="0" class="active"></li>
    <li data-target="#slide-wrapper" data-slide-to="1"></li>
  </ol>


  <!---ONLY SHOWS IF THE API IS BROKEN -->
  <div class="jumbotron col-md-12 teamSection background" ng-if ="main.gameTime == false && main.apiError" >
           <h4 class="team ">DAVE PLEASE FIX THE API</h4>
  </div>


  <!---ONLY SHOWS IF THERE IS NO GAME TODAY -->
  <div class="jumbotron col-md-12 teamSection background" ng-if ="main.gameTime == false && main.apiError === false" >
           <h4 class="team ">NO GAME TODAY</h4>
  </div>

<div class="carousel-inner" role="listbox" ng-if ="main.gameTime">
  <!--- ONLY ONE GAME SLIDE-->
  <div class="item active" ng-class="{active: main.data.Games.length === 1}">
      <div class="jumbotron col-md-6 teamSection background {{main.teamOneStyle.style}}">
         <img class="teamLogo" src={{main.teamOneStyle.logo}}>
           <h4 class="team">{{main.team1.name}}</h4>
            <h5 class="owner {{main.teamOneStyle.style}} sub ">{{main.team1.owner.details.intro}} : {{main.team1.owner.details.name}}</h5>
        </div>

        <div class="jumbotron col-md-6 teamSection background {{main.teamTwoStyle.style}}">
            <img class="teamLogo" src={{main.teamTwoStyle.logo}}>
           <h4 class="team ">{{main.team2.name}}</h4>
            <h5 class="owner {{main.teamTwoStyle.style}} sub ">{{main.team2.owner.details.intro}} : {{main.team2.owner.details.name}}</h5>
        </div>
  </div>

  <div class="item" ng-if ="main.data.Games.length === 2">
     <p>TEST</p>
 </div>



 </div> 
</div>  
